<?php
$jsonBanners = VpvComm_TagManager_Model_AggregatorBanners::getJsonBanners();
$jsonProducts = !Mage::registry('current_category') ? VpvComm_TagManager_Model_AggregatorProducts::getJsonProducts() : '{}';
$jsonSellProducts = VpvComm_TagManager_Model_AggregatorProducts::getJsonSellProducts();
?>
<script type="text/javascript">
    var jsonBanners = {};
    try {
        jsonBanners = jQuery.parseJSON('<?= $jsonBanners; ?>');
    } catch(e) {
        console.error('Error parsing JSON BANNERS: ', e);
    }
</script>
<script type="text/javascript">
    var jsonProducts = {};
    try {
        jsonProducts = jQuery.parseJSON('<?= $jsonProducts; ?>');
    } catch(e) {
        console.error('Error parsing JSON PRODUCTS: ', e);
    }
</script>
<?php if($jsonSellProducts): ?><script type="text/javascript">
    var jsonSellProducts = {};
    try {
        jsonSellProducts = jQuery.parseJSON('<?= $jsonSellProducts; ?>');
    } catch(e) {
        console.error('Error parsing JSON UPSELL RELATED PRODUCTS: ', e);
    }
</script><?php endif; ?>
