<!-- REFACTOR footer macUrl_mac_url = <?=$this->page?> -->
<?php
$tagId = $this->getGoogleTagId();
$yandexMetrikaId = $this->getYandexMetrikaId();
?>
<!-- GoogleTagId = <?=$tagId?> -->
<?=$this->getDataLayerPage();?>
<?php if ($tagId) : ?>
<!-- Google Tag Manager gtmPlace -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<?php echo $tagId; ?>');</script>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?= $tagId; ?>"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager -->
<?php endif;?>
<?php if ($yandexMetrikaId): ?>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        var metrikaId = <?=$yandexMetrikaId;?>;
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter<?=$yandexMetrikaId;?> = new Ya.Metrika2({
                        id:<?=$yandexMetrikaId;?>,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        ecommerce:"dataLayer"
                    });
                } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/<?=$yandexMetrikaId;?>" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
<?php elseif ($yandexMetrikaCode = $this->getYandexMetrikaCode()): ?>
<?=$yandexMetrikaCode;?>
<?php endif; ?>
<?=$this->getDataLayerPageAfter();?>
